*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: greenyellow; */
    background-image: linear-gradient(rgb(65, 228, 33),rgb(58, 57, 57));
    /* height: 90vh; */
}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    border-bottom: 2px solid rgb(41, 41, 41);
    color: white;
    align-items: center;
}
nav ul li{
    padding: 0px 12px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;

}
.logo img{
    height: 40px;
    width: 40px;
    padding: 5px;
}
.container{
    /* background-image: linear-gradient(rgb(59, 224, 59),rgb(255, 255, 255)); */
    height: 69vh;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: url('bg2.jpg') no-repeat center center ;
    overflow: auto;
}
.bottom{
    display: flex;
    position: sticky;
    height: 11.1vh;
    background-color: black;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.bottom #start{
    position: absolute;
    top: 4px;
    left: 150px;
}
.bottom #end{
    align-self: flex-end;
    position: relative;
    bottom: 16px;
    right: 11vw;
}
.icons{
    position: relative;
    bottom: 5px;
    margin-top: 0px;
}
.icons i{
    cursor: pointer;
    padding: 0px 5px;
}
#myprogressbar{
    width: 70vw;
    cursor: pointer;
}
.songname{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    width: auto;
    color: black;
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    overflow: auto;
    margin-bottom: 5px;
    background-image: linear-gradient(90deg,#7e857e, #e3ebe2);
}
.songitem img{
    width: 40px;
    height: 40px;
    margin: 0px 23px;
    border-radius: 50%;
}
.songitemplay{
    margin: 0px 10px;
}
.artist{
    margin: 0px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.artist i{
    margin: 0px 10px;
    cursor: pointer;
}
.songcontainer{
    margin-top: 20px;
}
.songinfo{
    position: absolute;
    left: 6vw;
}
.songinfo img{
    width: 80px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

